# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license
content/site.txt
content/glossary/default.txt
content/community/2_calendar/8_female-genealogy-restorative-garden/event.txt
content/community/2_calendar/7_in-the-spider-s-web/event.txt
content/community/2_calendar/7_in-the-spider-s-web/298105809_125825396652226_6803917257244959986_n.jpeg.txt
content/community/2_calendar/7_in-the-spider-s-web/298105809_125825396652226_6803917257244959986_n.jpeg
content/community/2_calendar/6_shifting-masses-broken-vases/event.txt
content/community/2_calendar/5_sylva/event.txt
content/community/2_calendar/4_what-s-in-the-air/event.txt
content/community/2_calendar/3_mystical-ecologies/hildegard-von-bingen-thumb.jpeg.txt
content/community/2_calendar/3_mystical-ecologies/hildegard-von-bingen-thumb.jpeg
content/community/2_calendar/3_mystical-ecologies/event.txt
content/community/2_calendar/2_marginal-materialities/event.txt
content/community/2_calendar/20220726_shifting-masses-broken-vases/event.txt
content/community/2_calendar/20220723_sylva-con-sara-marini/event.txt
content/community/2_calendar/1_estado-limbico/event.txt
content/community/2_calendar/0_what-s-in-the-air/event.txt
content/community/2_calendar/0_test-event/event.txt
content/community/2_calendar/0_summer-academy/event.txt
content/community/2_calendar/0_mystical-ecologies/event.txt
content/community/2_calendar/0_marginal-materialities/event.txt
content/community/2_calendar/0_estado-limbico/event.txt
content/community/1_people/9_elena-rucli/person.txt
content/community/1_people/8_max-van-der-wal/person.txt
content/community/1_people/3_janja-susnjar/person.txt
content/community/1_people/2_aljaz-skrlep/person.txt
content/community/1_people/2_aljaz-skrlep/aljaz_site.png.txt
content/community/1_people/2_aljaz-skrlep/aljaz_site.png
content/community/1_people/20_pola-salicka/person.txt
content/community/1_people/1_vida-rucli/person.txt
content/community/1_people/19_marin-liminowicz/person.txt
content/community/1_people/18_lijuan-lu-klassen/person.txt
content/community/1_people/17_francesca-luchitta/person.txt
content/community/1_people/16_anna-moschioni/person.txt
content/community/1_people/15_laura-savina/person.txt
content/community/1_people/14_maria-moschioni/person.txt
content/community/1_people/13_franek-korban-ski/person.txt
content/community/1_people/12_ola-korbanska/person.txt
content/community/1_people/11_blaso/person.txt
content/community/1_people/10_dora-ciccone/person.txt
content/5_projects/default.txt
content/5_projects/_drafts/summer-school-old/summer-academy.txt
content/5_projects/_drafts/summer-school-old/295767417_416314530467440_2014557953331965809_n.jpg.txt
content/5_projects/_drafts/summer-school-old/295767417_416314530467440_2014557953331965809_n.jpg
content/5_projects/_drafts/publications/publications.txt
content/5_projects/5_summer-school/event.txt
content/5_projects/4_residency/workshop-37.jpg.txt
content/5_projects/4_residency/workshop-37.jpg
content/5_projects/4_residency/studio-wild_site.png.txt
content/5_projects/4_residency/studio-wild_site.png
content/5_projects/4_residency/residency.txt
content/5_projects/4_residency/ola_site.png.txt
content/5_projects/4_residency/ola_site.png
content/5_projects/2_radio-robida/radio_site.png.txt
content/5_projects/2_radio-robida/radio_site.png
content/5_projects/2_radio-robida/radio.txt
content/5_projects/2_radio-robida/_drafts/reading-room-1/radioshow.txt
content/5_projects/2_radio-robida/_drafts/gtbt-x-robida/radioshow.txt
content/5_projects/2_radio-robida/_drafts/17th-of-august-2/radiobroadcast.txt
content/5_projects/2_radio-robida/_drafts/17th-of-august-2/0_academy-or-margins-mystical-ecologies-with-michael-marder/radioshow.txt
content/5_projects/2_radio-robida/2_17th-of-august-2022/radiobroadcast.txt
content/5_projects/2_radio-robida/2_17th-of-august-2022/20220817_academy-of-margins-mystical-ecologies-with-michael-marder/radioshow.txt
content/5_projects/2_radio-robida/1_20th-of-august-2022/radiobroadcast.txt
content/5_projects/2_radio-robida/1_20th-of-august-2022/20220820_academy-of-margins-estado-limbico-with-fahr-021-3-architects/radioshow.txt
content/5_projects/2_academy-of-margins/academyofmargins.txt
content/5_projects/2_academy-of-margins/academyofmargins.png.txt
content/5_projects/2_academy-of-margins/academyofmargins.png
content/5_projects/1_robida-magazine/magazine.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwsqk7vtym1r4ii0u_500.jpeg.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwsqk7vtym1r4ii0u_500.jpeg
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwsqjrtycr1r4ii0u_500.jpeg.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwsqjrtycr1r4ii0u_500.jpeg
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwsqitrp7e1r4ii0u_500.jpeg.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwsqitrp7e1r4ii0u_500.jpeg
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwr72bvqg51r4ii0u_500.jpeg.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qwr72bvqg51r4ii0u_500.jpeg
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qi00uhmsru1r4ii0u_500.jpeg.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qi00uhmsru1r4ii0u_500.jpeg
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qhzv56twog1r4ii0u_500.jpeg.txt
content/5_projects/1_robida-magazine/2_robida-7/tumblr_inline_qhzv56twog1r4ii0u_500.jpeg
content/5_projects/1_robida-magazine/2_robida-7/issue.txt
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_cover.jpg.txt
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_cover.jpg
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_003.jpg.txt
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_003.jpg
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_002.jpg.txt
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_002.jpg
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_001.jpg.txt
content/5_projects/1_robida-magazine/2_robida-7/2021_robida-7_001.jpg
content/5_projects/1_robida-magazine/2_photo-by-robida_site.png.txt
content/5_projects/1_robida-magazine/2_photo-by-robida_site.png
content/5_projects/1_robida-magazine/1_robida-8/photo_2022-08-11-09.44.241.jpeg.txt
content/5_projects/1_robida-magazine/1_robida-8/photo_2022-08-11-09.44.241.jpeg
content/5_projects/1_robida-magazine/1_robida-8/issue.txt
content/4_topolo/topolo.txt
content/4_izba/izba_5_site.png.txt
content/4_izba/izba_5_site.png
content/4_izba/img_0373_site.png.txt
content/4_izba/img_0373_site.png
content/4_izba/default.txt
content/4_izba/7_intro-copia.png.txt
content/4_izba/7_intro-copia.png
content/4_izba/1_intro-copia.png.txt
content/4_izba/1_intro-copia.png
content/3_topolo/topolo.txt
content/3_topolo/4_photo-by-antonio-frederico-lasalvia-1.jpg.txt
content/3_topolo/4_photo-by-antonio-frederico-lasalvia-1.jpg
content/3_topolo/3_site.png.txt
content/3_topolo/3_site.png
content/3_projects/default.txt
content/3_projects/_drafts/publications/publications.txt
content/3_projects/5_summer-academy/summer-academy.txt
content/3_projects/4_residency/residency.txt
content/3_projects/3_academy-of-margins/academyofmargins.txt
content/3_projects/3_academy-of-margins/academyofmargins.png.txt
content/3_projects/3_academy-of-margins/academyofmargins.png
content/3_projects/2_radio-robida/radio.txt
content/3_projects/2_radio-robida/_drafts/reading-room-1/radioshow.txt
content/3_projects/2_radio-robida/_drafts/gtbt-x-robida/radioshow.txt
content/3_projects/2_radio-robida/2_2022-04-20/radiobroadcast.txt
content/3_projects/2_radio-robida/2_2022-04-20/20220420_gtbt-x-robida/radioshow.txt
content/3_projects/2_radio-robida/2_2022-04-20/20220420_ep-13-marginal-writing-practices-poetry-from-the-bunkers-aljaz-skrlep/radioshow.txt
content/3_projects/2_radio-robida/2_2022-04-20/20220420_another-show/radioshow.txt
content/3_projects/2_radio-robida/1_2022-02-05/radiobroadcast.txt
content/3_projects/2_radio-robida/1_2022-02-05/1_morning-reading-room/radioshow.txt
content/3_projects/1_robida-magazine/magazine.txt
content/3_projects/1_robida-magazine/_drafts/robida-8/issue.txt
content/3_projects/1_robida-magazine/_drafts/robida-8/img_6037.jpg.txt
content/3_projects/1_robida-magazine/_drafts/robida-8/img_6037.jpg
content/3_projects/1_robida-magazine/1_robida-7/issue.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_cover.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_cover.jpg
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_003.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_003.jpg
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_002.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_002.jpg
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_001.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_001.jpg
content/2_about/whatsapp-image-2022-08-11-at-14.50.18.jpeg.txt
content/2_about/whatsapp-image-2022-08-11-at-14.50.18.jpeg
content/2_about/robida_logo_vector.png.txt
content/2_about/robida_logo_vector.png
content/2_about/logo_robida_vector.pdf.txt
content/2_about/logo_robida_vector.pdf
content/2_about/logo_robida_site.png.txt
content/2_about/logo_robida_site.png
content/2_about/default.txt
content/1_home/home.txt
content/site.txt
content/glossary/default.txt
content/community/2_calendar/20220726_shifting-masses-broken-vases/event.txt
content/community/2_calendar/20220723_sylva-con-sara-marini/event.txt
content/community/2_calendar/0_what-s-in-the-air/event.txt
content/community/2_calendar/0_test-event/event.txt
content/community/2_calendar/0_summer-academy/event.txt
content/community/2_calendar/0_mystical-ecologies/event.txt
content/community/2_calendar/0_marginal-materialities/event.txt
content/community/2_calendar/0_estado-limbico/event.txt
content/community/1_people/8_max-van-der-wal/person.txt
content/community/1_people/3_janja-susnjar/person.txt
content/community/1_people/2_aljaz-skrlep/person.txt
content/community/1_people/1_vida-rucli/person.txt
content/4_topolo/topolo.txt
content/3_projects/default.txt
content/3_projects/_drafts/publications/publications.txt
content/3_projects/5_summer-academy/summer-academy.txt
content/3_projects/4_residency/residency.txt
content/3_projects/3_academy-of-margins/academyofmargins.txt
content/3_projects/3_academy-of-margins/academyofmargins.png.txt
content/3_projects/3_academy-of-margins/academyofmargins.png
content/3_projects/2_radio-robida/radio.txt
content/3_projects/2_radio-robida/_drafts/reading-room-1/radioshow.txt
content/3_projects/2_radio-robida/_drafts/gtbt-x-robida/radioshow.txt
content/3_projects/2_radio-robida/2_2022-04-20/radiobroadcast.txt
content/3_projects/2_radio-robida/2_2022-04-20/20220420_gtbt-x-robida/radioshow.txt
content/3_projects/2_radio-robida/2_2022-04-20/20220420_ep-13-marginal-writing-practices-poetry-from-the-bunkers-aljaz-skrlep/radioshow.txt
content/3_projects/2_radio-robida/2_2022-04-20/20220420_another-show/radioshow.txt
content/3_projects/2_radio-robida/1_2022-02-05/radiobroadcast.txt
content/3_projects/2_radio-robida/1_2022-02-05/1_morning-reading-room/radioshow.txt
content/3_projects/1_robida-magazine/magazine.txt
content/3_projects/1_robida-magazine/_drafts/robida-8/issue.txt
content/3_projects/1_robida-magazine/_drafts/robida-8/img_6037.jpg.txt
content/3_projects/1_robida-magazine/_drafts/robida-8/img_6037.jpg
content/3_projects/1_robida-magazine/1_robida-7/issue.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_cover.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_cover.jpg
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_003.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_003.jpg
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_002.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_002.jpg
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_001.jpg.txt
content/3_projects/1_robida-magazine/1_robida-7/2021_robida-7_001.jpg
content/2_about/default.txt
content/1_home/home.txt
robida-old/assets/document/2021_Robida8_Open call.pdf
robida-old/assets/font/IBMPlexMono-Regular.ttf
robida-old/assets/font/ParmigianoSansStd-Reg.otf
robida-old/assets/images/2021_Robida8_title(nero).png
robida-old/assets/images/2021_Robida8_title_nero.svg
robida-old/assets/images/bg.svg
robida-old/assets/images/casAupaLogo2018-trasnsp_BN.png
robida-old/assets/images/fondazione_friuli_BN.png
robida-old/assets/images/GO\!2025.png
robida-old/assets/images/Kingdom_of_the_Netherlands_LOGO_BN.png
robida-old/assets/images/LOGHI-SIPUOFARE.png
robida-old/assets/images/LOGHI-SIPUOFARE_transp.png
robida-old/assets/images/logo_CG_bianco2_BN.png
robida-old/assets/images/Logo_consolato_Svizz_BN.png
robida-old/assets/images/Logo_Giovani_FVG_BN.png
robida-old/assets/images/Logo_Radio_Robida_low.png
robida-old/assets/images/ministerologo_BN.png
robida-old/assets/images/R_Robida_website-01.png
robida-old/assets/images/RadioRobida_logo.png
robida-old/assets/images/Regione_Autonoma.png
robida-old/assets/images/robida_logo_vector.png
robida-old/assets/images/sipuofarelogo_BN.png
robida-old/assets/images/word0.png
robida-old/assets/images/word1.png
robida-old/assets/images/word2.png
robida-old/assets/images/word3.png
robida-old/assets/images/word4.png
robida-old/assets/js/p5.clickable.js
robida-old/assets/js/p5.dom.js
robida-old/assets/js/p5.js
robida-old/assets/js/script-old0.js
robida-old/assets/js/script.js
robida-old/assets/js/sketch.js
robida-old/assets/js/wordList.json
robida-old/assets/styles/style.css
robida-old/index.html
robida-old/Radio_Robida.html
