html {
  font-size: calc(0.8vw);
}

* { 
  scrollbar-width: none; /* hide scrollbar in firefox */
}

*::-webkit-scrollbar {
  width: 0px; /* hide scrollbar in edge and opera */
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: white;
  color: #333;
  margin: 0;
}


/* -------------------- HEADER + contents ------------------- */
header {
  position: fixed;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid;
  background-color: white;
  z-index: 1;
}

/* Start AUDIO PLAYER */
.audio.green-audio-player {
  margin-top: 1rem;
  float: right;
  display: inline-block;
  margin-right: 1em;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.play-pause-btn {
  display: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.slider {
  flex-grow: 1;
  background-color: #000000;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.progress {
  background-color: black;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}

.pin {
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  background-color: black;
  position: absolute;
  pointer-events: all;
}

.controls {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8em;
  line-height: 1em;
  color: black;
  display: inline-block;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  /* margin-right: 24px; */
}

.slider {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 2px;
  height: 4px;
  vertical-align: middle;
}

.progress {
  width: 0;
  height: 100%;
}

.pin {
  right: -0.5em;
  top: -6px;
}

.volume {
  position: relative;
  display: inline-block;
}

.volume-btn {
  cursor: pointer;
}

.open path {
    fill: #44BFA3;
}

.volume-controls {
  width: 30px;      height: 135px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hidden {
  display: none;
}

.slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}

.progress {
  bottom: 0;
  height: 100%;
  width: 6px;
}

.pin {
  left: -5px;
  top: -8px;
}
/* End AUDIO PLAYER */

#logo {
  height: 50%;
  padding: 1em;
  width: 5em;
}

.logo {
  display: inline-block;
  width: 20%;
}

.radio-link {
  display: inline-block;
  float: right;
}


/* ------------------- SIDEBARS ------------------- */

#leftSidebar, #rightSidebar {
  height: calc(100vh - 8rem - 1px);
  width: 4rem;
  border-right: 1px solid;
  position: fixed;
  left: 0;
  top: calc(4rem + 1px);
  background-color: white;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

#closeLeft, #openLeft, #closeRight, #openRight {
  font-size: 0.8em;
  text-align:center;
  padding-top: 1rem;
  cursor: pointer;
}

#closeLeft, #closeRight {
  display: none;
  width: 4rem;
}

#openLeft, #openRight {
  display: block;
}

nav {
  margin: 0;
  padding-left: 3rem;
  margin-top: calc(-2rem - 3px);
}

#rightSidebar {
  left: auto;
  right: 0;
  border-left: 1px solid;
}

#glossary-content {
  display: none;
  margin-left: 10px;
}

#glossary-content h2 {
  padding: 0 0 10px 0;
}

#glossary-content p {
  padding: 0 0 25px 0;
}

#closeRight {
  margin-left: 10px;
  width: 100%;
  text-align: left;
}

/* ------------------- MAIN SECTIONS ------------------- */
#center {
  height: calc(100vh - 8em - 2px);
  width: calc(100vw - 8em - 2px);
  margin-left: 4em;
  transition: margin-left .5s;
  position: absolute;
  z-index: -1;
  top: calc(4em + 1px);
}

#left, #right {
  width: calc(50% - 2em);
  height: calc(100% - 2em);
  padding: 1em;
  overflow: scroll;
}

#left {
  float: left;
}

#right {
  float: right;
  width: calc(50% - 2em - 1px);
  border-left: 1px solid;
}

#top {
  border-bottom: 1px solid;
}

#top, #middle {
  height: calc(calc(100% - 0.1em) / 2);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/* #bottom {
  height: calc(calc(100vh - 120px) / 5);
  border-bottom: 1px solid;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
#top::-webkit-scrollbar, #middle::-webkit-scrollbar, #bottom::-webkit-scrollbar {
    display: none;
}

/* ------------ HOMEPAGE BLOCKS -----------*/
.block {
  display: inline-block;
  width: calc(calc(100vh - 8em) / 2);
  height: calc(100% - 2em);
  border-left: 1px solid #333;
  margin-right: -0.5em; /* because otherwise there is too much space between the blocks for some reason */
  position: relative;
  padding: 1em;
  color: inherit;
  white-space: normal;
}

.block-content {
  bottom: 1em;
  position: absolute;
  width: calc(100% - 2em);
}

.block img {
    width: calc(100% - 2em);
    height: calc(100% - 5em);
    object-fit: cover;
    z-index: -10;
    border-radius: 0.8em;
    bottom: 1em;
    position: absolute;
}

/* ---------- General elements ---------- */

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 15px;
}

h2 {
  font-size: 1.2em;
  padding-bottom: 15px;
}

h3 {
  font-size: 1em;
  padding-bottom: 15px;
  color: lightgrey;
}

.bodytext p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: serif;
  font-size: 1.2em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: green;
}

img {
  width: 100%;
}

.section {
  margin-bottom: 3em;
}

.parent {
  padding-bottom: 1em;
}
.parent a {
  color: lightgrey;
  text-decoration: none;
  font-size: 0.8rem;
}

.roundBorder {
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 15px;
  margin-top: 5px;
}

.profile {
  display: inline-block;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  color: white;
  border-radius: 1.5em;
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-decoration: none;
  font-size: 0.8rem;

}


/* ---------- MAGAZINE ---------- */

ul.mag-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

.mag-overview img {
  background-color: black;
  width: 100%;
  object-fit: cover;
}

.issue-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  color: lightgrey;
}

/* ---------- RADIO ----------  */


.radio-schedule li {
  font-size: 0.8em;
  display: block;
  white-space: normal;
}


/* ---------- FOOTER ----------  */

footer {
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  border-top: 1px solid;
  background-color: white;
  z-index: 1;
  font-size: 0.8rem;
}

#chat {
  width: 4rem;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 1.2rem;
  right: 0;
  position: absolute;
  background-color: inherit;
  z-index: 1;
}


#contact {
  width: auto;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 4rem;
  padding: 1rem;
  padding-top: 1.2rem;
  background-color: inherit;
  z-index: 1;

}

marquee {
}

#currently-in-topolo {
  display: inline-block;
  width: calc(100vw - 4em);
  height: 100%;
  position: absolute;
  padding-top: 1rem;
  left: 0;
}

/* MENU TREE ---------------------------------------- */

  ul, li { list-style: none; margin: 0; padding: 0; }
  nav ul {

    padding-left: 1em;
  }

  nav li {
    padding-left: 1em;
    border: 1px solid black;
    border-width: 0 0 1px 1px;
  }

  li.container { border-bottom: 0px; }

  li.empty { font-style: italic;
    color: silver;
    border-color: silver;
  }

  nav p { margin: 0;
    background: white;
    position: relative;
    padding-left: 0.5em;
    padding-top: 1em;
    top: 0.6em;
    font-size: 1em;
  }

  nav ul {
    border-top: 1px solid black;
    margin-left: -1em;
    padding-left: 2em;
  }
  nav li:last-child ul {
    border-left: 1px solid white;
    margin-left: calc(-1em - 1px);
  }

  nav a {
    text-decoration: none;
    color: inherit;
  }

/* ------------- TIMELINE --------------- */


.jqtl-event-node {
  overflow: visible;
  border-radius: 2em;
  min-width: 2em;
  max-height: 2em;
  color: white;
  border: 1px solid lightgrey;
  margin-left: -15px; /* events start at rounded edge so need to be moved forward slightly */
}

.jqtl-event-label {
  overflow: visible;
  font-size: 0.8em;
  z-index: 10;
}

.jqtl-event-label a {
  text-decoration: none;
  color: black;
}

/* ------------- MOBILE --------------- */

@media only screen and (max-width: 1250px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 720px) {

  #center {
    height: calc(100vh - 8em - 2px);
    width: calc(100vw - 4em);
    margin-left: 4em;
    transition: margin-left .5s;
    position: absolute;
    top: calc(4em + 1px);
    overflow-y: scroll;
  }

  #left, #right {
    width: calc(100% - 2em);
    height: auto;
    padding: 1em;
  }

  #left {
    float: none;
  }

  #right {
    float: none;
    width: calc(100% - 2em);
    border-left: 0px solid;
    border-top: 1px solid;
  }

  #rightSidebar {
    display: none;
  }

  nav p {
    font-size: 1.2em;
  }

  .block {
    display: inline-block;
    width: calc(100vw - 10em - 2px);
    border-left: 1px solid #333;
    /* margin-right: -0.5em; /* because otherwise there is too much space between the blocks for some reason */ */
    position: relative;
    padding: 1em;
  }


}
